page-tab-home {
    .b_top{
        height: 150px;
        background: url('../assets/imgs/111.jpg');
        background-size: cover;
    }
 
    .b_top_content{
        padding-top: 30px;
        padding-left: 20px;
        overflow: hidden;
    }
 
    .b_top_content img{
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        border:2px solid #fff;
    }
 
    .box-c-right{
        display: inline-block;
    }
 
    .b_top_content h2
    {
        color:#fff;
        margin-top: 0px;
        margin-bottom: 0px;
    }
 
    .b_top_content p
    {
        color:#fff;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .list-menu{
        background-color: blue;
        margin: 2px;
        height: 120px;
        text-align: center;
    }
.list-menu img{
    width: 50px;
}
ion-row .list-menu:nth-child(even){
    background-color: blueviolet;
}
 }